#div1{
    display:flex;
    flex-direction: column;
    align-items: center;
}
#button1{
    width: 60px;
    height: 30px;
    margin-top: 6px;
    background-color: green;
}
#input1{
    width: 150px;
    margin-top: 6px;
}
#input2{
    width: 150px;
    margin-top: 6px;
}
#input3{
    width: 150px;
    margin-top: 6px;
}
#input4{
    width: 150px;
    margin-top: 6px;
}
#text_of_login{
    height: 10px;
}
